:root{
    --nav-background: rgb(130, 68, 18);
    --text-color:aliceblue;
}
*{
  box-sizing:border-box;
}

body{
    max-width: 100%;
    max-height: 100%;
    margin:0px;
    overflow-x: hidden;
    background-image:url('https://images.unsplash.com/photo-1506968430777-bf7784a87f23?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGFibGUlMjB0ZXh0dXJlfGVufDB8fDB8fHww');
}


#nav-bar{
    background-color: var(--nav-background);
    margin:-1em;
    height:8.5vh;
}

.nav-bar,ul{
    display:grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    align-items: center;
    justify-items: center;
    justify-content: space-evenly; 
    align-content: space-evenly; 
}

.nav-link,li,a{
  text-align:center;
  text-decoration:none;
  list-style-type:none;
  color:aliceblue;
  font-size:25px;
  font-family:'bebas neue',sans-serif,helvetica;
  padding-top:15px;
}

#intro-pic{
  width:1500px;
  height:500px;
  filter: saturate(120%); 
  z-index:1;
  position:absolute;
  transform:translateY(-13.5em);
}

#header-img{
    width:225px;
    z-index:9;
    position:relative;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 1));
    top: 50%;
    left: 50%;
    transform: translate(-70px, 20px);  
}

#usda-label{
  position:relative;
  top:70px;
  z-index:9;
  width:200px;
}

main{
  padding:0px;
  position:absolute;
  transform:translate(0em,20em);
}

.introduction h2{
  color:var(--text-color);
  font-size:40px;
  font-family:'rubik dirt',sans-serif,verdana;
  font-weight:normal;
  text-align:center;
  transform: translateY(-6em);
  text-shadow: 10px 10px 2px rgba(0, 0, 0, 0.4); 
}

.introduction p{
  color:yellow;
font-size:25px;
font-family:'indie flower',sans-serif,verdana;
font-weight:bold;
  position:relative;
  left:50%;
  bottom:50%;
transform:translateY(-6em);
}

.thinking-line{
  position:absolute;
  right:25%;
  transform:translateY(-9em);
}

.ferret-pic1{
  width:325px;
  position:absolute;
  right:10%;
  transform:translateY(-8em);
}

.features{
  position:relative;
  top:25em;
margin-bottom:20em;
padding-bottom:20em;
}

.feature{
   display: flex;
  position:relative;
}

.icon img{
display:inline-block;
}

.desc{
 font-family:'bebas neue',sans-serif, verdana;
 font-size:60px;
 font-weight:bold;
 color:red;
 letter-spacing:5px;
display:inline-block;
 margin-top:10px;
 margin-left:10px;
 word-spacing:3px; 
}

.ad-video{
  position:relative;
  left:20%;
  border:black 1px solid ;
  border-radius:60px;
  box-shadow: 22px 22px 5px rgb(0,0,0,0.5);
margin-bottom:30em;


}
.ferret-pic2{
  position:absolute;
  top:15%;
  left:25%;
  transform:translate(-50%,-50%);
}

.ferret-pic4{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-40%,-48%);
    z-index:10;
}

fieldset{
    border:none;
}
form >img{
    transform: translate(12em,0.5em);
    margin-bottom: 10px;
}

section > #form{
display:inline-block;
  background-color: rgb(133, 220, 228);
    height:600px;
    width:500px;
    border:black 1px solid;
    border-radius: 5% ;
    box-shadow: 25px 25px 50px rgb(0, 0, 0);
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    z-index: 1; 
}

legend{
    text-align: left;
    color:rgb(20, 20, 20);
    font-size:30px;
    font-family:sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    padding: 25px 0 0 20px;
    font-weight:550;
}

fieldset > p{
    font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight:normal;
    font-size:17px;
    padding:0 20px 0px 20px;
}

fieldset > div{
    display:flex;
    align-items: center;
}

#name-label, #email-label, #number-label{
    color:rgb(20, 20, 20);
    display:block;
    font-size: 17px;
    padding-left:20px;
    font-family:sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#name,#email,#phone-number{
    height:50px;
    width:430px;
    border:rgb(103, 204, 255) 3px solid;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
}

fieldset > div{
    margin:1px 0 20px 20px;
}

#checkbox{
    margin-left:50px;
    cursor:pointer;
}

#checkbox-label{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
}

#submit{
    background-color:rgb(187, 187, 187);
    height:30px;
    width:200px;
    display:grid;
    cursor:pointer;
    font-size:15px;
    border-radius:5px;
    transform: translate(9em,-0.5em);
    font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

#video{
    box-shadow: -15px 15px 15px rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
    top:50%;
    left:50%;
transform:translate(-50%,-40em);
    z-index: 9;
    margin-bottom:0;
}

.ferret-pic3{
  position: relative;
    top:50%;
    left:50%;
transform:translate(-20%,-10%);
    z-index: 1;
}

.making-products > h3{
    color:rgb(243, 243, 243);
    font-size:1.4em;
    font-family:sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    text-indent: 30px;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
    position: relative;
    top:50%;
    left:50%;
transform:translate(-50%, -10em);
margin:30px;
}

.making-products p::first-letter{
    font-size:48px;
    color:rgb(255, 255, 27);
    
}

.making-products{
  position: relative;
    top:50%;
    left:50%;
transform:translate(-50%,-10.5em);
color:rgb(255, 255, 255);
    font-size:1.4em;
    font-family:sans-serif,'bebas neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    text-indent: 90px;
    letter-spacing: 1px;
    line-height: 1.8em;
    margin:10px;
}

i > h3{
  color:red;
  position:absolute;
  right:28%;
  top:10%;
}

h1{
    color:hsl(0, 0%, 100%); 
    font-family:sans-serif,Arial, Helvetica;
    font-size: 3.5em;
    line-height: 2px;
    letter-spacing: 5px;
    text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.996);
    text-align: center;
    position:relative;
    top:1em;
}
#Products{
    background-color: rgb(241, 197, 143);
    background-image: linear-gradient(to right, rgb(241, 197, 143), var(--nav-background));
    border:var(--nav-background) 4px inset;
    margin:30px;
}

h1{
    color:hsl(0, 0%, 100%); 
  font-family:sans-serif,Arial, Helvetica;
    font-size: 3.5em;
    line-height: 2px;
    letter-spacing: 5px;
    text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.996);
    text-align: center;
  position:relative;
    top:1em;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);  
    gap: 4px;
    row-gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly; 
    align-content: space-evenly; 
    position: relative;
    height:110em;
}


.product1 p, .product2 p, .product3 p, .product4 p, .product5 p, .product6 p, .product7 p, .product8 p, .product9 p {
    font-size: 30px;
    font-family: 'bebas neue',sans-serif,Arial, Helvetica;
    position: relative;
    top:50%;
    left:50%;
transform:translate(-50%, -50%);
}
.product1 h2, .product2 h2, .product3 h2, .product4 h2, .product5 h2, .product6 h2, .product7 h2, .product8 h2, .product9 h2 {
    font-size: 30px;
    margin:1px;
    position: relative;
    top:50%;
    left:50%;
transform:translate(-50%, -50%);
}

#About_Us{
    color:var(--text-color);
    font-family:caveat;
    font-weight: bold;
    font-size:40px;
    letter-spacing: 1.5px;
    text-indent: 90px;
    line-height: 1.4em;
    padding-bottom: 6em;
    margin:30px;
}


footer{
  background-color:var(--nav-background);
}

.contact-us{
  text-align:center;
  color:var(--text-color);
  font-family:sans-serif,verdana,tahoma;
  font-size:20px;
  margin-top:10em;
}

.social-icons{
  position:relative;
  transform:translate(-50%,40%);
   top:50%;
   left:67%;
}

@media only screen and (max-width: 500px) {
    
    

    body{
       
      background-image: url('https://i.pinimg.com/736x/5a/f5/e3/5af5e3390ad19b67f22d44adf257af6c.jpg');
    }

    #header{
      height:1em;
    }
    
    main{
        max-width: 100%;
        max-height: 100%;
        transform:translate(0em,5em);
        margin:10px;
        overflow-x: hidden;
        position:relative;
       
    }
   
    #nav-bar{
        width:105vw;
        height:6.5vh;
        position:fixed;
        z-index:8;
       
    }
 
    #nav-bar a{
        font-size:13px;
        
    }

    #nav-bar li{
      padding:1px 0px;
      margin:-3px -1px 0px;
      text-align: center;
      position:relative;
      right:10px;
    }

    #cart-icon{
       display:none;
    }
          
    #header-img{
        width: 20%;
        left:50%;
        z-index:7;
        transform:translate(-2.5em,2em);         
    }

    #intro-pic{
      width:100%;
      height:270px;
      filter: saturate(110%) brightness(0.6); 
      transform:translateY(-10.5em);
    }

    #usda-label{
        display:none;
    }

    .introduction h2{
      font-size:13px;
      transform: translateY(-1em); 
    }

    .introduction p{
      font-size:10px;
      transform:translate(-8em,3em); 
    }
    
    .thinking-line{
      width:25px;
      transform:translate(-1em,2em);
    }
    
    .ferret-pic1{
      width:110px;
      transform:translate(1em,2em);
    }
    
    .features{
      top:11em;
      padding-bottom:8em;
    }
    
    .feature{
       display: flex;
      position:relative;
    }
    
    .icon img{
      position: relative;
      top: 0.9em;
      width: 20px;
    }
    
    .desc{
     font-family:'rubik dirt',sans-serif, verdana;
     font-weight: 100;
     text-shadow: 10px 10px 2px rgba(0, 0, 0, 0.4); 
     font-size:18px;
     color:aliceblue;
     letter-spacing:1px;
     margin-left:1px;
     word-spacing:2px; 
    }
    
    .ad-video{
     display:none;
     transform:translate(-23em,-9em);
     width:50em;
     border:none;
     border-radius:0px;
     box-shadow:none;
     margin-bottom:0em;
    
    
    }
    .ferret-pic2{
      display:none;
      position:absolute;
      top:15%;
      left:25%;
      transform:translate(-50%,-50%);
    }
    
    .ferret-pic4{
        width:130px;
        transform:translate(10%,-130%);
    }
    
    section > #form{
        height:400px;
        width:300px;
        margin-bottom:20em;
        position: relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-12.5em);
    }
    
    legend{
        text-align: left;
        color:rgb(20, 20, 20);
        font-size:30px;
        font-family:sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
        padding: 25px 0 0 20px;
        font-weight:550;
    }
    
    fieldset > p{
        font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
        font-weight:normal;
        font-size:12px;
        padding:0 20px 0px 20px;
    }

    fieldset > p > a{
      font-size: 15px;
      padding-left:3px;
    }
    
    fieldset > div{
        display:flex;
        align-items: center;
    }
    
    #name-label, #email-label, #number-label{
        color:rgb(20, 20, 20);
        display:block;
        font-size: 12px;
        padding-left:20px;
        font-family:sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    #name,#email,#phone-number{
        height:30px;
        width:200px;
        border:rgb(103, 204, 255) 3px solid;
        border-radius: 5px;
        background-color:rgb(255, 255, 255);
        margin-bottom:-2em;
    }
    
    fieldset > div{
        margin:1px 0 20px 20px;
    }
    
    #checkbox{
        margin-left:10px;
        cursor:pointer;
    }
    
    #checkbox-label{
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;;
        color:rgb(0, 0, 0);
    }
    
    #submit{
        background-color:rgb(187, 187, 187);
        height:20px;
        width:90px;
        display:grid;
        cursor:pointer;
        font-size:15px;
        border-radius:5px;
        transform: translate(6em,-2em);
        font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    }
    
    #video{
        border-radius: 10px;
        transform:translate(-50%,-50em);
        width:400px;
        margin-top:30em;
        margin-bottom:-10em;
    }
    
    .ferret-pic3{
        display:none;
        position: relative;
        top:50%;
        left:50%;
        transform:translate(-20%,-10%);
        z-index: 1;
    }
    
    .making-products > h3{
        color:aliceblue;
        font-size:12px;
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-indent: 10px;
        transform:translate(-60%, -10em);
        margin-top:-25em;
        margin-bottom:-2em;
    }
    
    .making-products p::first-letter{
        font-size:28px;
    }
    
    .making-products{
        transform:translate(-52%,-10em);
        color:aliceblue;
        font-size:10px;
        font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-indent: 40px;
        letter-spacing: 0.8px;
        line-height: 1.8em;
        margin:10px;
    }
    
    .fa-heart{
      color:red;
      position:relative;
      right:0%;
    }
    
    h1{
        color:hsl(0, 0%, 100%); 
        font-family:sans-serif,Arial, Helvetica;
        font-size: 3.5em;
        line-height: 2px;
        letter-spacing: 5px;
        text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.996);
        text-align: center;
        position:relative;
        top:1em;
    }
    #Products{
        background-color: rgb(241, 197, 143);
        background-image: linear-gradient(to right, rgb(241, 197, 143), var(--nav-background));
        border:var(--nav-background) 4px inset;
        margin:30px;
    }
    
    h1{
        color:aliceblue; 
        font-family:sans-serif,Arial, Helvetica;
        font-size: 20px;
    }
    
    .product-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 5px;
        row-gap: -7em;
        height:50em;
        width:20em;
    }
    
    
    .product1 p, .product2 p, .product3 p, .product4 p, .product5 p, .product6 p, .product7 p, .product8 p, .product9 p {
        font-size: 10px;
        font-family: 'bebas neue',sans-serif,Arial, Helvetica;
        position: relative;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
    .product1 h2, .product2 h2, .product3 h2, .product4 h2, .product5 h2, .product6 h2, .product7 h2, .product8 h2, .product9 h2 {
        font-size: 12px;
        margin:1px;
        position: relative;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }

    .product1 img,.product2 img,.product3 img,.product4 img,.product5 img,.product6 img,.product7 img,.product8 img,.product9 img{
      width:80px
    }
    
    #About_Us{
        color:var(--text-color);
        font-family:caveat;
        font-weight: bold;
        font-size:40px;
        letter-spacing: 1.5px;
        text-indent: 90px;
        line-height: 1.4em;
        padding-bottom: 6em;
        margin:30px;
    }
    
    
    footer{
      background-color:var(--nav-background);
    }
    
    .contact-us{
      text-align:center;
      color:var(--text-color);
      font-family:sans-serif,verdana,tahoma;
      font-size:20px;
      margin-top:10em;
    }
    
    .social-icons{
      position:relative;
      transform:translate(-50%,40%);
       top:50%;
       left:67%;
    }



    }
